body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    color: white;
    background-color: #6943FF;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    padding: 40px;
}

h1 {
    font-weight: 900;
    margin: 0;
    padding: 0 0 35px 0;
}

#convert-input {
    /* display: block; */
    margin: 0 auto 25px auto;
    /* padding-bottom: 10px; */
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    width: 140px;
    height: 100px;
    color: white;
    font-size: 70px;
    font-weight: 900;
    text-align: center;

}

/* Hide input buttons, they're ugly */
/* Copied and pasted from https://stackoverflow.com/questions/33749896/hide-html5-input-type-number-arrow-with-a-css-class */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
    input[type="number"] {
      -moz-appearance: textfield; /* Firefox */
    }

button {
    display: block;
    margin: auto;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
}

h2 {
    font-weight: 700;
    font-size: 20px;
}

.converter {
    width: 90%;
    text-align: center;
    color: #353535;
    background-color: #FFFFFF;
}

#converter-container {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px pink;
}

